body {
    background: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    text-align: center;
    background-color: blue;
    padding: 10px 10px;
    border-radius: 18px;
    color: white;
    margin: 10px;
}

h1 {
    margin: 10px;
}

h2, h3 {
    margin: 20px;
}

.city-search {
    margin: 150px auto;
    background-color: white;
    padding: 50px 50px;
    border-radius: 18px;
    opacity: 80%;
}

.card {
    background-color: lightblue;
}

.btn {
    background-color: white;
}

#five-day-forecast {
    justify-content: space-around;
}