body {
    background: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    text-align: center;
    background-color: blue;
    padding: 10px 10px;
    border-radius: 18px;
    color: white;
    margin: 10px;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 20px;
}

h3 {
    text-align: left;
    padding: 10px 10px;
}

li:hover {
    cursor: pointer;
    background-color: aqua;
}

.city-search {
    margin: 150px auto;
    background-color: white;
    padding: 50px 50px;
    border-radius: 18px;
    opacity: 80%;
}

.card {
    background-color: lightblue;
}

.btn {
    background-color: white;
}

#five-day-forecast {
    justify-content: space-between;
}

.weather-results {
    padding: 20px 20px;
}